<div class="cart-title"><%=t "layout.cart.title" %></div>

<table>
  <%= render(:partial => "cart_item", :collection => cart.items) %>

  <tr class="total-line">
    <td colspan="2">Total</td>
    <td class="total-cell">
      <%= number_to_currency(cart.total_price) %>
    </td>
  </tr>

</table>

<% if @order.nil? %>
  <%= button_to t("layout.cart.button.checkout"), :action => 'checkout', :method => "get" %>
<% end %>

<% form_remote_tag :url => { :action => 'empty_cart' } do %>
  <%= submit_tag t "layout.cart.button.empty" %>
<% end %>
